src/by/it/kovko/jd02_07/Users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="dictionariesType">
    <xs:sequence>
      <xs:element type="dictionatyType" name="dictionaty"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wordsType">
    <xs:sequence>
      <xs:element type="xs:string" name="word"/>
      <xs:element type="xs:string" name="meaning"/>
      <xs:element type="xs:string" name="translation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="userType" name="user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="nickName"/>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="email"/>
      <xs:element type="dictionariesType" name="dictionaries"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="dictionatyType">
    <xs:sequence>
      <xs:element type="wordsType" name="words"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>