src/by/it/verishko/jd02_07/Store/Store.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT Persons (Person)+>
        <!ELEMENT Person (Email, Nickname, Password, Goods)>
        <!ELEMENT Email (#PCDATA)>
        <!ELEMENT Nickname (#PCDATA)>
        <!ELEMENT Password (#PCDATA)>
        <!ELEMENT Goods (Product)+>
        <!ELEMENT Product (Name, Description, Price)>
        <!ELEMENT Name (#PCDATA)>
        <!ELEMENT Description (#PCDATA)>
        <!ELEMENT Price (#PCDATA)>
        <!ATTLIST Price currency PCDATA>

